{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('lessons_list', {course: row.idCourse}) }}" title="Lekcje"
       class="btn btn-primary btn-xs">Lekcje</a>
    <a href="{{ path('questions_list', {course: row.idCourse}) }}" title="Test"
       class="btn btn-primary btn-xs">Test</a>
    <a href="{{ path('course_edit', {course: row.idCourse}) }}" title="Edytuj"
       class="btn btn-primary btn-xs"><i class="far fa-edit"></i></a>
    <a href="{{ path('course_edit_status', {course: row.idCourse}) }}" title="Zmień status"
       class="btn btn-primary btn-xs">
        {% if row.active %}
            <i class="fas fa-toggle-on"></i>
        {% else %}
            <i class="fas fa-toggle-off"></i>
        {% endif %}
    </a>
    <a href="{{ path('course_delete', {course: row.idCourse}) }}" title="Usuń"
       class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i></a>
{% endif %}

{# @var row \App\Entity\Course #}